<div class="col-10 offset-1 about"> 
  <h1>About Splurty</h1>
  <p class="padding-top">
    Splurty was built by <a href="https://filgambatesa.netlify.com">Fil Gambatesa</a> a cyclist who is on a mission to learn the technical skills needed to turn his ideas into exceptional code.
  </p>
  <br />
  <p>
    Together with his classmates and with the help of the TA's and mentors he's learning how to do this, one html tag at a time.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Fil Gambatesa</h2>
      <br />
      <p> Fil Gambatesa is a grown-up learning how to be a kid again and love what he does every day.  He has led small to mediumish size teams in some of Canada's biggest companies and endevoured to leave every place he left better than he found it.  He has worked in every area of IT and had the pleasure of working with amazing people throughout his career.  Fil has long recognized that great results only comes about through great effort and the willingess to try new things.  Ride on.
      </p>
    </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

