<div class="col-10 offset-1 about"> 
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a href="https://filgambatesa.netlify.com">Fil Gambatesa</a> a web developer who is on a mission to learn the technical skills needed to turn his ideas into exceptionally awesome code.
  </p>
  <br />
  <p>
    Together with his classmates and with the help of the TA's and mentors he's learning how to do this, one html tag at a time.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Fil Gambatesa</h2>
      <br />
      <p> Fil Gambatesa is a student learning how to be a kid again and love what he does every day.  He has led small to mediumish size teams in 
        some of Canada's biggest companies and has left every place with a solid legacy of outstanding work that continues to deliver value far after he has moved on.  Fil built processes, teams and organizational structures with resiliency and clear direction to cope with the constant demands of an ever changing business landscape.
      </p>
    </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

